[alias]
    achoute = add
    achso = log
    bisamme = pull
    bisball = rm
    ganz-gut= push --force
    hilfe = help
    hopla = commit
    hopla-geiss = push
    kopfertami = stash
    merche = merge
    pranche = branch
    schisser = blame
    schluck = cherry-pick
    tack = tag
    was = status
